h1{
  font-weight: 700;
  font-size: 45px;
  margin: 10px;
  margin-bottom: 30px;
  background-color: aquamarine;
  padding-bottom: 10px;
}

input{
  width: 100%;
  /* padding: 5px 12px; */
}

.items-container{
  text-align: left;
}

.dp-row{
  margin: 10px 5px;
}

.dp-button{
  min-width: 90px;
}